<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">

  <link href="iOS_splashscreens/apple_splash_2048.png" sizes="2048x2732" rel="apple-touch-startup-image" />
  <link href="iOS_splashscreens/apple_splash_1668.png" sizes="1668x2224" rel="apple-touch-startup-image" />
  <link href="iOS_splashscreens/apple_splash_1536.png" sizes="1536x2048" rel="apple-touch-startup-image" />
  <link href="iOS_splashscreens/apple_splash_1125.png" sizes="1125x2436" rel="apple-touch-startup-image" />
  <link href="iOS_splashscreens/apple_splash_1242.png" sizes="1242x2208" rel="apple-touch-startup-image" />
  <link href="iOS_splashscreens/apple_splash_750.png" sizes="750x1334" rel="apple-touch-startup-image" />
  <link href="iOS_splashscreens/apple_splash_640.png" sizes="640x1136" rel="apple-touch-startup-image" />


  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <script src="js/bootstrap.min.js"></script>


  <link href="css/style.css" rel="stylesheet" media="screen">
  

  <link rel="manifest" href="./manifest.json">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#000000">

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
  <script src="js/dashboardFunctions.js"></script>
  <script src="js/pwa.js"></script>
  <script src="js/profileFunctions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
</head>

<header>

  <div class="buggyCodesHeader flex-container" id="main-header">

    <div class="buggyCodesLogo" id="bCLogo">
      <img src="img/bugShot.png" alt="buggyCodesLogo" class="bugShot rounded-circle border border-white" onmouseover="this.src='img/bugShot2.png'" onmouseout="this.src='img/bugShot.png'">
      <span class="caption">buggyCodes</span>
    </div>



    <div class="user" id="userdiv">
      <a href="/profile"><img class="userIMG rounded-circle border border-white" id="userProfileIMG" src=<%=userinfo.image %> alt="User Profile Picture"></a>
      <span class="caption">Hi, <%=userinfo.firstName %></span>
    </div>

  </div>

</header>

<body onload="loadChart(<%=userinfo.ExercisesDone %>, <%=userinfo.ProgrammingLogic %>, <%=userinfo.Speed %>, <%=userinfo.Creativity %> ); mobileLeaderboardLoad()">

<script>
$(document).ready(function(){  
    $("#exercisesRow").load("ajax_exercises.txt");
});
</script>


<nav class="navbar">

  <ul class="navbar-nav">

    <li class="nav-item">
      <a href="" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
        <span class="link-text">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/news" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
          <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
          <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
        </svg>
        <span class="link-text">News</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/profile" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <span class="link-text">Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/about" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
          <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <span class="link-text">About</span>
      </a>
    </li>

  </ul>

</nav>


<div class="content">

<div class="container" id="custom-cards">

  <div class="titlesContainer" id="todCont">
    <h2 class="mainTitle pb-2">Today's Trials</h2>
    <h6 class="subtitle">Here you can find some playful exercise to learn from!</h6>
  </div>

  <div class="row" id="exercisesRow">

    

  </div>


  <div class="bottomContent">

    <div class="row justify-content-around">

      <div class="col">
        <div class="titlesContainer" id="statCont">
          <h2 class="mainTitle pb-2">Your stats</h2>

	<div class="row" id="statsgraph">
	<canvas id="myChart" style="width:100%; max-width:800px; max-height: 800px; height:800px;"></canvas>
	</div>

	<br>
	
	<div class="row" id="buttonColumn">
	<button class="btn btn-primary btn-sm" type="submit" style="background-color:#74c5c9"><a href="/add/stats?statistic=exercises" style="color:#ffffff;">For testing purpose, click here to change user stats: Exercises Done +1</a></button> 
	<button class="btn btn-primary btn-sm" type="submit" style="background-color:#fdc689"><a href="/add/stats?statistic=logic" style="color:#ffffff;">For testing purpose, click here to change user stats: Programming Logic +1</a></button>  
	<button class="btn btn-primary btn-sm" type="submit" style="background-color:#74c5c9"><a href="/add/stats?statistic=speed" style="color:#ffffff;">For testing purpose,  click here to change user stats: ProgrammingSpeed +1</a></button>		   
	<button class="btn btn-primary btn-sm" type="submit" style="background-color:#fdc689"><a href="/add/stats?statistic=creativity" style="color:#ffffff;">For testing purpose, click here to change user stats: Creativity +1</a></button>	   
	</div>


	<div class="hiddencontent leaderboard" id="mobileLeaderboard">
			<div class="head">
				<h2 class="boldSubtext">Top three players right now: </h2>
			</div>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Exercises Done</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=onlineRanking[0].firstName %></td>
      <td><%=onlineRanking[0].level %></td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=onlineRanking[1].firstName %></td>
      <td><%=onlineRanking[1].level %></td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=onlineRanking[2].firstName %></td>
      <td><%=onlineRanking[2].level %></td>
      <td>@fat</td>
    </tr>
  </tbody>
</table>
</div>
        </div>
      </div>	

      <div class="col">
        <div class="overviewContainer" id="overview">
	  <h2 class="boldSubtext" style="color: #f9786c" id="adjectiveStats"><%=sentiment %></h2>
          <h6>You managed to go through <%=userinfo.ExercisesDone %> bugs!</h6>
          <br>

          <h2 class="boldSubtext" style="color: #ffd100">A random coding quote:</h2>
          <h6><%=quoteMessage %></h6>	
	  <h6>by <%=quoteAuthor %></h6>
        </div>
	
	<div class="card mb-3">
    	<div class="card-body text-center shadow">
	<img class="rounded-circle mb-3 mt-4" id="onlineResume" src="/img/<%=userinfo.onlineAvatar %>.png" width="160" height="160">	
	<h6>Your level: <%=userinfo.level %> </h6>    
	</div>
    </div>

<br>

<div class="leaderboard" id="desktopLeaderboard">
			<div class="head">
				<h2 class="boldSubtext">Top three players right now: </h2>
			</div>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Exercises Done</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=onlineRanking[0].firstName %></td>
      <td><%=onlineRanking[0].level %></td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%=onlineRanking[1].firstName %></td>
      <td><%=onlineRanking[1].level %></td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%=onlineRanking[2].firstName %></td>
      <td><%=onlineRanking[2].level %></td>
      <td>@fat</td>
    </tr>
  </tbody>
</table>
</div>

	
		

  </div>

  </div>

</div>

<footer> <br>  <br> </footer>

</body>

</html>